In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas_gbq
import numpy as np

Set the path:

In [2]:
path = '/Users/vickyvoukelatou/Gdelt/GPI_project/credentials_bigquery.json'

In [3]:
credentials = service_account.Credentials.from_service_account_file(path)

In [4]:
project_id = 'sound-essence-220408'

In [5]:
query_string = """
SELECT ActionGeo_CountryCode, MonthYear,EventBaseCode,
count(EventBaseCode) as eventcount,
sum(AvgTone) as tonecount,
sum(GoldsteinScale) as goldstein
FROM `gdelt-bq.full.events`
WHERE (MonthYear>202009 and MonthYear<202110) and (ActionGeo_CountryCode <> 'null')
group by ActionGeo_CountryCode, MonthYear, EventBaseCode
Order by ActionGeo_CountryCode, EventBaseCode, MonthYear"""

In [18]:
query_string = """
SELECT ActionGeo_CountryCode, MonthYear, EventBaseCode,
count(EventBaseCode) as eventcount
FROM `gdelt-bq.full.events`
WHERE (MonthYear>202009 and MonthYear<202010) and (ActionGeo_CountryCode <> 'null')
group by ActionGeo_CountryCode, MonthYear, EventBaseCode
Order by ActionGeo_CountryCode, EventBaseCode, MonthYear"""

In [19]:
df = pandas_gbq.read_gbq(query_string, project_id=project_id, credentials = credentials)

Downloading: 0rows [00:00, ?rows/s]

In [8]:
df

       ActionGeo_CountryCode  MonthYear EventBaseCode  eventcount
0                         AA     202010           010           1
1                         AA     202011           010          18
2                         AA     202012           010          15
3                         AA     202101           010          15
4                         AA     202102           010           8
...                      ...        ...           ...         ...
214455                    ZI     202103           202           1
214456                    ZI     202104           202           2
214457                    ZI     202105           202           1
214458                    ZI     202106           202           1
214459                    ZI     202108           202           1

[214460 rows x 4 columns]

Get the unique country codes:

In [9]:
countries = df['ActionGeo_CountryCode'].unique()
countries

array(['AA', 'AC', 'AE', 'AF', 'AG', 'AJ', 'AL', 'AM', 'AN', 'AO', 'AQ',
       'AR', 'AS', 'AU', 'AV', 'AY', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF',
       'BG', 'BH', 'BK', 'BL', 'BM', 'BN', 'BO', 'BP', 'BQ', 'BR', 'BT',
       'BU', 'BV', 'BX', 'BY', 'CA', 'CB', 'CD', 'CE', 'CF', 'CG', 'CH',
       'CI', 'CJ', 'CM', 'CN', 'CO', 'CQ', 'CS', 'CT', 'CU', 'CV', 'CW',
       'CY', 'DA', 'DJ', 'DO', 'DR', 'EC', 'EG', 'EI', 'EK', 'EN', 'ER',
       'ES', 'ET', 'EZ', 'FG', 'FI', 'FJ', 'FK', 'FM', 'FO', 'FP', 'FQ',
       'FR', 'GA', 'GB', 'GG', 'GH', 'GI', 'GJ', 'GK', 'GL', 'GM', 'GP',
       'GQ', 'GR', 'GT', 'GV', 'GY', 'GZ', 'HA', 'HK', 'HO', 'HQ', 'HR',
       'HU', 'IC', 'ID', 'IM', 'IN', 'IO', 'IP', 'IR', 'IS', 'IT', 'IV',
       'IZ', 'JA', 'JE', 'JM', 'JN', 'JO', 'JQ', 'KE', 'KG', 'KN', 'KR',
       'KS', 'KT', 'KU', 'KV', 'KZ', 'LA', 'LE', 'LG', 'LH', 'LI', 'LO',
       'LQ', 'LS', 'LT', 'LU', 'LY', 'MA', 'MB', 'MC', 'MD', 'MF', 'MG',
       'MH', 'MI', 'MJ', 'MK', 'ML', 'MN', 'MO', 'MP', 'MQ', 'MR', 'MT',
       'MU', 'MV', 'MX', 'MY', 'MZ', 'NC', 'NE', 'NF', 'NG', 'NH', 'NI',
       'NL', 'NO', 'NP', 'NR', 'NS', 'NT', 'NU', 'NZ', 'OC', 'OD', 'OS',
       'PA', 'PC', 'PE', 'PF', 'PG', 'PK', 'PL', 'PM', 'PO', 'PP', 'PS',
       'PU', 'QA', 'RB', 'RE', 'RI', 'RM', 'RN', 'RO', 'RP', 'RQ', 'RS',
       'RW', 'SA', 'SB', 'SC', 'SE', 'SF', 'SG', 'SH', 'SI', 'SL', 'SM',
       'SN', 'SO', 'SP', 'ST', 'SU', 'SV', 'SW', 'SY', 'SZ', 'TD', 'TH',
       'TI', 'TK', 'TL', 'TN', 'TO', 'TP', 'TS', 'TT', 'TU', 'TV', 'TW',
       'TX', 'TZ', 'UG', 'UK', 'UP', 'US', 'UV', 'UY', 'UZ', 'VC', 'VE',
       'VI', 'VM', 'VQ', 'VT', 'WA', 'WE', 'WF', 'WI', 'WQ', 'WS', 'WZ',
       'YI', 'YM', 'ZA', 'ZI'], dtype=object)

Get the length of the unique country codes:

In [10]:
len(countries)

257

Get the country codes in a separate dataframe:

In [11]:
for c in countries:
    single_country = df.loc[df.ActionGeo_CountryCode == c]
    export_csv = single_country.to_csv ('../../../GPI_project/new_2021/gdelt_data_202010_202109/%s.csv' %c, index = None, header=True)

Get the country codes in a separate dataframe:

In [25]:
#np.savetxt('../../../GPI_project/journal/country_codes.csv', countries, delimiter=",", fmt='%s')