**I work on the base environment**

In [1]:
import pandas as pd

### Insert all GPI data from all countries as found online.

In [2]:
path = '../../../GPI_project/'

In [3]:
gpi = pd.read_csv(path + 'new_2021/gpi_all_countries.csv')

In [4]:
gpi.head(3)

,Country,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008
0,Afghanistan,3.631,3.644,3.300,3.350,3.347,3.391,3.293,3.321,3.353,3.442,3.392,3.485,3.426,3.350
1,Albania,1.824,1.872,1.821,1.843,1.920,1.900,1.948,1.960,1.995,1.976,1.938,1.912,1.916,1.943
2,Algeria,2.310,2.287,2.219,2.188,2.188,2.197,2.261,2.283,2.314,2.355,2.512,2.370,2.347,2.347

In [5]:
len(gpi)

163

### Now we need to turn the countries in the dataset to "FIPS10-4" system in order to match it with the system used from GDELT.

Insert the "FIPS10-4" database.

In [6]:
Fips = pd.read_csv(path + 'Fips10_4.csv')

In [7]:
Fips.head(3)

         Country FIPS_10_4
0    Afghanistan        AF
1  Aland Islands         –
2        Albania        AL

There is usually a mess with the country names due to changes, etc. With the check and correct manually on the files until I have two documents with the same country names and then merge.

In [8]:
for el in sorted(list(gpi['Country'])): 
    if not(el in list(Fips['Country'])):
        print (el)

### Merge to create the dataframe with all countries and years GPI score with the corresponding fips_10_4 codes.

In [9]:
gpifips = pd.merge(gpi, Fips, on='Country')
gpifips.head(1)

,Country,2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,FIPS_10_4
0,Afghanistan,3.631,3.644,3.3,3.35,3.347,3.391,3.293,3.321,3.353,3.442,3.392,3.485,3.426,3.35,AF

Get the columns in order to re-order them:

In [10]:
columnl = gpifips.columns.to_list()
columnl.reverse()

Reorder the columns in the dataframe:

In [11]:
col_list = [columnl[-1]] + [columnl[0]] + columnl[1:-1]

Ngpifips = gpifips[col_list]

In [12]:
Ngpifips.head(3)

,Country,FIPS_10_4,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Afghanistan,AF,3.350,3.426,3.485,3.392,3.442,3.353,3.321,3.293,3.391,3.347,3.350,3.300,3.644,3.631
1,Albania,AL,1.943,1.916,1.912,1.938,1.976,1.995,1.960,1.948,1.900,1.920,1.843,1.821,1.872,1.824
2,Algeria,AG,2.347,2.347,2.370,2.512,2.355,2.314,2.283,2.261,2.197,2.188,2.188,2.219,2.287,2.310

In [13]:
len(Ngpifips)

163

Save the created dataframe:

In [14]:
Ngpifips.to_csv(path + 'new_2021/Gpi_fips_10_4j.csv',index=False)